In [62]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [63]:
# Importing libraries
import pandas as pd
import numpy as np

In [64]:
# reading the csv
df = pd.read_csv('day.csv', index_col='instant')

In [65]:
# inspecting the head
df.head(10)

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
instant,,,,,,,,,,,,,,,
1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
6,06-01-2018,1,0,1,0,4,1,1,8.378268,11.66045,51.8261,6.000868,88,1518,1606
7,07-01-2018,1,0,1,0,5,1,2,8.057402,10.44195,49.8696,11.304642,148,1362,1510
8,08-01-2018,1,0,1,0,6,0,2,6.765000,8.11270,53.5833,17.875868,68,891,959
9,09-01-2018,1,0,1,0,0,0,1,5.671653,5.80875,43.4167,24.250650,54,768,822
10,10-01-2018,1,0,1,0,1,1,1,6.184153,7.54440,48.2917,14.958889,41,1280,1321

In [66]:
# inspecting the head
df.tail(10)

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
instant,,,,,,,,,,,,,,,
721,22-12-2019,1,1,12,0,6,0,1,10.899153,11.80565,44.1250,27.292182,205,1544,1749
722,23-12-2019,1,1,12,0,0,0,1,10.079153,12.97355,51.5417,8.916561,408,1379,1787
723,24-12-2019,1,1,12,0,1,1,2,9.483464,12.94500,79.1304,5.174437,174,746,920
724,25-12-2019,1,1,12,1,2,0,2,11.943464,14.72325,73.4783,11.304642,440,573,1013
725,26-12-2019,1,1,12,0,3,1,3,9.976653,11.01665,82.3333,21.208582,9,432,441
726,27-12-2019,1,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
727,28-12-2019,1,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095
728,29-12-2019,1,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,159,1182,1341
729,30-12-2019,1,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,364,1432,1796
730,31-12-2019,1,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,439,2290,2729

In [67]:
# inspecting the columns
df.columns

Index(['dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday',
       'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'casual',
       'registered', 'cnt'],
      dtype='object')

In [68]:
# assessing whether there are any columns with empty variables and column types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 1 to 730
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dteday      730 non-null    object
 1   season      730 non-null    int64
 2   yr          730 non-null    int64
 3   mnth        730 non-null    int64
 4   holiday     730 non-null    int64
 5   weekday     730 non-null    int64
 6   workingday  730 non-null    int64
 7   weathersit  730 non-null    int64
 8   temp        730 non-null    float64
 9   atemp       730 non-null    float64
 10  hum         730 non-null    float64
 11  windspeed   730 non-null    float64
 12  casual      730 non-null    int64
 13  registered  730 non-null    int64
 14  cnt         730 non-null    int64
dtypes: float64(4), int64(10), object(1)
memory usage: 91.2+ KB

In [69]:
# Adding a derived columns that may be better predictors than individual columns


# Temperature and Humidity Interaction:
df['temp_hum_interaction'] = df['temp'] * df['hum']

# Create a binary column indicating whether a day is a weekend:
df['is_weekend'] = df['weekday'].apply(lambda x: 1 if x in [0, 6] else 0)

# Creating a lagged variable if Bike rentals on a given day could depend on the number of rentals on the previous day. 
df['lagged_cnt'] = df['cnt'].shift(1)

In [70]:
# creating dummy variables for categorical columns
df = pd.get_dummies(df, columns=['season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday', 'weathersit'], drop_first=True)

In [71]:
# inspecting head after adding dummy variables
df.head(10)

,dteday,temp,atemp,hum,windspeed,casual,registered,cnt,temp_hum_interaction,is_weekend,...,holiday_1,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,workingday_1,weathersit_2,weathersit_3
instant,,,,,,,,,,,,,,,,,,,,,
1,01-01-2018,14.110847,18.18125,80.5833,10.749882,331,654,985,1137.098617,1,...,0,0,0,0,0,0,1,0,1,0
2,02-01-2018,14.902598,17.68695,69.6087,16.652113,131,670,801,1037.350473,1,...,0,0,0,0,0,0,0,0,1,0
3,03-01-2018,8.050924,9.47025,43.7273,16.636703,120,1229,1349,352.045169,0,...,0,1,0,0,0,0,0,1,0,0
4,04-01-2018,8.200000,10.60610,59.0435,10.739832,108,1454,1562,484.156700,0,...,0,0,1,0,0,0,0,1,0,0
5,05-01-2018,9.305237,11.46350,43.6957,12.522300,82,1518,1600,406.598844,0,...,0,0,0,1,0,0,0,1,0,0
6,06-01-2018,8.378268,11.66045,51.8261,6.000868,88,1518,1606,434.212955,0,...,0,0,0,0,1,0,0,1,0,0
7,07-01-2018,8.057402,10.44195,49.8696,11.304642,148,1362,1510,401.819415,0,...,0,0,0,0,0,1,0,1,1,0
8,08-01-2018,6.765000,8.11270,53.5833,17.875868,68,891,959,362.491024,1,...,0,0,0,0,0,0,1,0,1,0
9,09-01-2018,5.671653,5.80875,43.4167,24.250650,54,768,822,246.244457,1,...,0,0,0,0,0,0,0,0,0,0
10,10-01-2018,6.184153,7.54440,48.2917,14.958889,41,1280,1321,298.643261,0,...,0,1,0,0,0,0,0,1,0,0

In [86]:
df.columns

Index(['temp', 'atemp', 'hum', 'windspeed', 'casual', 'registered',
       'temp_hum_interaction', 'is_weekend', 'lagged_cnt', 'season_2',
       'season_3', 'season_4', 'yr_1', 'mnth_2', 'mnth_3', 'mnth_4', 'mnth_5',
       'mnth_6', 'mnth_7', 'mnth_8', 'mnth_9', 'mnth_10', 'mnth_11', 'mnth_12',
       'holiday_1', 'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4',
       'weekday_5', 'weekday_6', 'workingday_1', 'weathersit_2',
       'weathersit_3'],
      dtype='object')

In [87]:
# inspecting columns after adding dummy variables
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 654 to 80
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   temp                  510 non-null    float64
 1   atemp                 510 non-null    float64
 2   hum                   510 non-null    float64
 3   windspeed             510 non-null    float64
 4   casual                510 non-null    float64
 5   registered            510 non-null    float64
 6   temp_hum_interaction  510 non-null    float64
 7   is_weekend            510 non-null    int64
 8   lagged_cnt            509 non-null    float64
 9   season_2              510 non-null    uint8
 10  season_3              510 non-null    uint8
 11  season_4              510 non-null    uint8
 12  yr_1                  510 non-null    uint8
 13  mnth_2                510 non-null    uint8
 14  mnth_3                510 non-null    uint8
 15  mnth_4                510 non-null    uint8
 16  mnth_5                510 non-null    uint8
 17  mnth_6                510 non-null    uint8
 18  mnth_7                510 non-null    uint8
 19  mnth_8                510 non-null    uint8
 20  mnth_9                510 non-null    uint8
 21  mnth_10               510 non-null    uint8
 22  mnth_11               510 non-null    uint8
 23  mnth_12               510 non-null    uint8
 24  holiday_1             510 non-null    uint8
 25  weekday_1             510 non-null    uint8
 26  weekday_2             510 non-null    uint8
 27  weekday_3             510 non-null    uint8
 28  weekday_4             510 non-null    uint8
 29  weekday_5             510 non-null    uint8
 30  weekday_6             510 non-null    uint8
 31  workingday_1          510 non-null    uint8
 32  weathersit_2          510 non-null    uint8
 33  weathersit_3          510 non-null    uint8
dtypes: float64(8), int64(1), uint8(25)
memory usage: 52.3 KB

In [88]:
# # Dropping data column as the month information is already separated
# df = df.drop(columns=['dteday'])

KeyError: "['dteday'] not found in axis"

## Splitting the Data into Training and Testing Sets

In [82]:
from sklearn.model_selection import train_test_split

# We specify this so that the train and test data set always have the same rows, respectively

df_train, df_test = train_test_split(df, train_size = 0.7, test_size = 0.3, random_state = 100)

### Rescaling the Features 

Using MinMax scaling.

In [83]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [84]:
# list of columns that should be scaled (excluding dummy' variables)

num_vars = [
    'temp', 
    'atemp', 
    'hum', 
    'windspeed', 
    'casual', 
    'registered', 
    'cnt', 
    'temp_hum_interaction', 
    'lagged_cnt'
]

df_train[num_vars] = scaler.fit_transform(df_train[num_vars])

df_train.head()

KeyError: "['cnt'] not in index"

### Dividing into X and Y sets for the model building

In [78]:
y_train = df_train.pop('cnt')
X_train = df_train

## Building our model

Using LinearRegression function from SciKit Learn with RFE

In [79]:
# Importing RFE and LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

In [80]:
# Running RFE with the output number of the variable equal to 15
lm = LinearRegression()
lm.fit(X_train, y_train)

rfe = RFE(lm, 15)             # running RFE
rfe = rfe.fit(X_train, y_train)

ValueError: could not convert string to float: '16-10-2019'